<h2 class="titulo">
  {{ parametros.titulo || 'Seleccionar opción' }}
</h2>

<mat-dialog-content>

  <div class="formulario" style="padding: 10px;">
    @if (parametros.mensaje) {
    <p>{{ parametros.mensaje }}</p>
    }

    <mat-form-field appearance="outline" style="width:100%;">
      <mat-label>Selecciona una opción</mat-label>

      <mat-select [(ngModel)]="seleccion">

        @if (!parametros.requerido) {
        <mat-option [value]="null">
          Ninguno
        </mat-option>
        }

        @for (opcion of parametros.opciones; track opcion.clave) {
        <mat-option [value]="opcion.clave">
          {{ opcion.texto }}
        </mat-option>
        }

      </mat-select>
    </mat-form-field>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="center">

  <button mat-raised-button color="primary" [disabled]="parametros.requerido && !seleccion" (click)="aceptar()">
    {{ parametros.textoAceptar || 'Aceptar' }}
  </button>
</mat-dialog-actions>