@if(autenticado){
<mat-toolbar class="toolbar-inicio">

    <button mat-icon-button matTooltip="Menu" color="accent" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <img [src]="temaServicio.rutaImagen('logo.svg')" alt="SGALA" class="logo" />

    <h2 style="height: 10px; font-weight:bold;margin-bottom: 17px;">{{ruta}}</h2>

    <span style="flex: 1;"></span>

    <button mat-icon-button [matMenuTriggerFor]="menuNotificaciones" [matBadge]="totalNotificacionesPendientes || null"
        matBadgeSize="large">
        <mat-icon>notifications</mat-icon>
    </button>

    <mat-menu #menuNotificaciones="matMenu">
        @for (notificacion of notificacionesOrdenadas; track notificacion.clave) {
        <div class="notificacion">
            <mat-icon>{{obtenerIconoNotificacion(notificacion.origen)}}</mat-icon>
            <div class="notificacion-contenido">
                <h2>{{ notificacion.descripcion }}</h2>
                <span class="notificacion-fecha">{{ notificacion.fecha }}</span>
            </div>
            <div class="estado" [class.nueva]="notificacion.atendida === null"
                [class.atendida]="notificacion.atendida === true" [class.desatendida]="notificacion.atendida === false">
            </div>
            <button mat-icon-button (click)="$event.stopPropagation(); cambiarEstado(notificacion)" [matTooltip]="
                    notificacion.atendida === null
                        ? 'Marcar como atendida'
                        : notificacion.atendida
                            ? 'Marcar como no atendida'
                            : 'Marcar como atendida'
                ">
                <mat-icon>
                    @switch (notificacion.atendida) {
                    @case (null) { check }
                    @case (true) { close }
                    @case (false) { check }
                    }
                </mat-icon>
            </button>
        </div>
        }
    </mat-menu>


    <button mat-icon-button (click)="actualizarUsuario()">
        <mat-icon>person</mat-icon>
    </button>

    <h2 style="font-size: 18px;">{{sesion.alias}}</h2>
    <button mat-icon-button matTooltip="Cerrar sesión" [matMenuTriggerFor]="menuCerrarSesion"
        style="margin-left: 30px;">
        <mat-icon>logout</mat-icon>
    </button>

    <mat-menu #menuCerrarSesion="matMenu">
        <div class="menu-cerrar-sesion-titulo">¿Cerrar sesión?</div>
        <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>check</mat-icon>
            <span>Sí, cerrar sesión</span>
        </button>
        <button mat-menu-item>
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
    </mat-menu>
</mat-toolbar>
}

<mat-drawer-container autosize>

    <mat-drawer #drawer mode="over">
        <mat-nav-list>
            @for (opcion of rutasNavegacion; track opcion.ruta) {
            <a mat-list-item [routerLink]="opcion.ruta" routerLinkActive="ruta-activa" (click)="drawer.close()">

                <mat-icon matListItemIcon>{{ opcion.icono }}</mat-icon>

                <span matListItemTitle>{{ opcion.nombre }}</span>
            </a>
            }
        </mat-nav-list>
    </mat-drawer>
    
    <div class="router-container">
        <router-outlet />
    </div>

</mat-drawer-container>


@if(autenticado){
<div class="contenedor-dialogos">
    @for(dialogo of dialogoServicio.dialogos(); track dialogo.id) {
    @if(dialogo.recordar) {
    <div class="chip-dialogo">

        <button [disabled]="!estaMinimizado(dialogo.id)" mat-icon-button class="chip-boton" matTooltip="Restaurar"
            (click)="restaurar(dialogo.id)">
            <mat-icon>{{ dialogo.icono }}</mat-icon>
        </button>

        <div class="chip-titulo" contenteditable="true" spellcheck="false" (blur)="editar(dialogo, $event)">
            {{ dialogo.titulo }}
        </div>

        <button mat-icon-button class="chip-boton" [matMenuTriggerFor]="menuCerrar">
            <mat-icon>close</mat-icon>
        </button>

        <mat-menu #menuCerrar="matMenu">
            <button mat-menu-item (click)="cerrar(dialogo)">
                <mat-icon>check</mat-icon>
                <span>Sí</span>
            </button>

            <button mat-menu-item>
                <mat-icon>close</mat-icon>
                <span>No</span>
            </button>
        </mat-menu>

    </div>
    }
    }
</div>
}

<app-cargador />