<h2 class="titulo">
    @if (parametros === 'C') {
    Nuevo
    } @else {
    Editar
    }
</h2>
<mat-dialog-content>
    <form id="formDispositivo" [formGroup]="formulario" (ngSubmit)="preparar()">

        <p style="text-align: center;width: 100%;">
            @if (parametros === 'C') {
            Completa la información para crear un nuevo dispositivo.
            } @else {
            Edita la información del dispositivo.
            <br>
            <span style="font-size: 12px; color: #757575; font-family: monospace;">
                Clave: {{ datos?.clave }}
            </span>
            }
        </p>

        <mat-form-field appearance="outline" class="c100 m100 g100">
            <mat-label>Alias</mat-label>
            <input matInput formControlName="alias" />
            <mat-icon matPrefix>label</mat-icon>

            @if (formulario.get('alias')?.hasError('pattern')) {
            <mat-error>
                El alias solo puede contener letras y números.
            </mat-error>
            }

            @if (formulario.get('alias')?.hasError('required')) {
            <mat-error>
                El alias es requerido.
            </mat-error>
            }

            @if (formulario.get('alias')?.hasError('maxlength')) {
            <mat-error>
                El alias no puede superar los 25 caracteres.
            </mat-error>
            }

        </mat-form-field>


    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <!-- @if( parametros === 'A' ){
    <div class="c100 m50 g50">
        <button mat-raised-button color="accent" type="button" (click)="conectar()">
            <mat-icon>
                bluetooth
            </mat-icon>
            Conectar
        </button>
    </div>
    } -->
    <div class="c100 m50 g50">
        <button mat-raised-button color="primary" type="submit" form="formDispositivo"
            [class.boton-inactivo]="!puedeEnviar()">
            <mat-icon>
                {{ parametros === 'C' ? 'add' : 'edit' }}
            </mat-icon>
            {{ parametros === 'C' ? 'Crear' : 'Actualizar' }}
        </button>
    </div>

</mat-dialog-actions>